*{
    margin:0;
}

.inner-body{
    background-color: #e8ecef;
    width:100%;
    height: auto;
    /*position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;*/

}

html, body{

    margin: 0;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.logo-header{
    display: flex;
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
    background-color: #2e3192;
}

.logo{
    height: 45px;
    width: 150px;
    padding-left: 30px;
}

.side-header{
    margin-left:auto;
    padding:10px;
    color: white
}

.username-name{
    font-weight: bold;
}

.greetings{
    font-size: 12px;
}

.navbar{
    background-color: #363fa8;
    color: white;
}

.navbar ul{display: flex;
    margin-left:30px;
    padding: 10px;
    gap: 30px;
}

.navbar ul li{
    list-style: none;
    font-size: 14px;
    padding-right: 20px;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color:#b9bde1;

}

a:hover{
    color: white;
}

.cards{
    width:100%;
    margin-top: 30px;
}

.cards ul{
    text-transform: uppercase;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.cards ul li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 14px;
    height: 60px;
    padding: 30px;
    margin-left: 20px;
    width: 25%;
}

.card1{
    background-color: #01a89e;
}

.card2{
    background-color: #29aae3;
}

.card3{
    
    background-color:#ee704a;
    text-align: center;
}

.card4{
    background-color:#f8931f;
}

.main-content{
    display: flex;
    background-color: white;
    justify-content: center;
 
    height:50px;
    padding: 40px;
    margin-bottom: 40px;
}

.main-body-picture{
    width: 250px;
    height: 100px;
    margin-right: 20px;
}
.main-content{
    margin: 40px;
    padding:60px;
}

.content-body p{
    font-size: 12px;
    color: rgb(80, 80, 80);
}

footer{
    position: fixed;
    text-align: center;
    bottom:0;
    width: -webkit-fill-available;
    background-color: #ffffff;
}