*{
    margin:0px;
    
}

.body{
    background-color: #f8f8f9;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.logo-header{
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
    background-color: #2e3192;
}

.logo{
    height: 45px;
    width: 150px;
    padding-left: 30px;
}

.logo-header ul{
    display: flex;
    margin-left: 30px;
    padding: 10px;
    gap:30px;
}    
.logo-header ul li{
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 20px;
}   
.side-header{
    margin-left: auto;
    padding: 10px;
    color: white;
} 
.user-name{
    font-weight: bold;
}


.greetings{
    font-size: 12px;
}

a{
    text-decoration: none;
    color: azure;
}

a:hover{
    color: white;
}

.nav-bar h4{
    padding: 10px;
    margin: 0px;
}
.nav-bar{
    padding: 1px;
}

.inner-body{
    padding: 15px;
    background-color:azure;
}
.box{
    padding: 8px;
    background-color: whitesmoke;
    margin: 10px;
    
}
input{
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
}
    

footer{
    
    height: 10%;
    position: fixed;
    text-align: center;
    bottom:0;
    width: -webkit-fill-available;
    color: rgb(197, 192, 185);
}    